@import "tailwindcss";

@theme {
  --color-background: oklch(0 0 0);
  --color-foreground: oklch(98.4% 0.003 247.858);
  --color-muted: oklch(70.4% 0.04 256.788);
  --color-accent: oklch(51.1% 0.262 276.966);
  --color-card: oklch(14.5% 0 0);
}

html {
  color: var(--color-foreground);
  background-color: var(--color-background);
}
