---
import ProjectCard from "./project-card.astro"
import Link from "./link.astro"

import links from "../content/links.json"
import projects from "../content/projects.json"

const pfpUrl = "https://github.com/CollinBrennan.png"
---

<main
  class="flex flex-col items-center text-center max-w-xl m-auto py-16 px-4 gap-10"
>
  <img src={pfpUrl} alt="Profile picture" class="rounded-full size-32" />

  <div>
    <h1 class="font-bold text-2xl sm:text-3xl">Collin Brennan</h1>
    <h1 class="font-semibold text-muted pt-1">Software Engineer</h1>
  </div>

  <p class="text-muted text-balance">
    Computer nerd and coffee addict from New Jersey, designing and building
    full-stack web apps!
  </p>

  <div class="flex gap-8 py-4">
    {links.map((link) => <Link {...link} />)}
  </div>

  <div class="flex flex-col w-full gap-2">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</main>

<footer class="text-center text-sm text-muted pb-2">Made by me! © 2025</footer>
